name: build

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v1
      - name: "Set up Java"
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: "lint"
        run: ./gradlew lint

  ktlint:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v1
      - name: "Set up Java"
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: "ktlint"
        run: ./gradlew ktlintCheck

  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v1
      - name: "Set up Java"
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: "Test"
        run: ./gradlew test

  assemble:
    needs: [lint, ktlint, test]
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v1
      - name: "Set up Java"
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: "Assemble"
        run: ./gradlew assemble

  codecoverage:
    needs: [lint, ktlint, test, assemble]
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v1
      - name: "Set up Java"
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: "Create coverage reports"
        run: ./gradlew check jacocoTestReport
      - name: "Upload coverage to codecov"
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./control-core/build/reports/jacoco/test/jacocoTestReport.xml
          fail_ci_if_error: true