name: build

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v1
      - name: "Set up Java"
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: "ktlint"
        run: ./gradlew ktlintCheck
      - name: "lint"
        run: ./gradlew lint

  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v1
      - name: "Set up Java"
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: "Test"
        run: ./gradlew test

  assemble:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v1
      - name: "Set up Java"
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: "Assemble"
        run: ./gradlew assemble